.title{
    margin:22px
}

.sym{
    /* font-size: 5rem; */
}
/* .c-chart{
    max-width: 90vw;
    height: 45vh;
} */

.bold{
    font-weight: bolder;
    text-decoration-style: none;
}
.b-name{
    font-size: 20px;
}
.b-value{
    font-size: 20px;
    font-weight: bolder;
}

.c-info{
    flex: 0 0 48% !important;
    width: 48%;
    
}