
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');
*{
    font-family: 'Luxurious Roman', serif;
}

.header{
    margin: 12px;
    padding: 4px;
}

.title{
    color: black;
    margin: 4px;
    padding: 2px auto;
    font-size: 30px;
}

.box{
border-radius: 8px;
    border: 1px solid black;
}

.main{
    margin-left: 50px;
}

.coin-header{
    width: 100Wh;
    height: 40px;
}

.common{
    display: flex;
    text-align: center;
    align-items: center;
}

.coin{
    /* height: 50px;
    width: 50px;
    border: 1px solid black;
    border-radius: 50px; */
}

.report {
    /* padding-top: 8px; */
    /* margin-top: 6px; */
    height: 49px;
    width: 49px;
    
}
