body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnavbar {
    overflow: hidden;
    background-color: #333;
    background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);}
  
  .topnavbar a {
    float: left;
    color: black;
    
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnavbar a:hover {
    background-color:cyan;
    color: black;
  }
  
  .topnavbar a.split{
      float: right;
      color: black;
      text-align: center;
      
  }
  .topnavbar input[type=text] {
    float: left;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  .topnavbar input[type=text] {
    border: none solid #ccc;
  }
  
  .topnavbar a.active {
    background-color: #04AA6D;
    color: white;
  }
  