@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');
*{
  font-family: 'Luxurious Roman', serif;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnavbar {
    overflow: hidden;
    background-color: #333;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  }
  
  .topnavbar a {
    float: left;
    color: black;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* .topnavbar a:hover {
    background-color:rgb(71, 74, 74);
    color: rgb(255, 255, 255);
  } */
  
.titlename{
  font-size: 25px;
}

  .topnavbar a.split{
      float: right;
      color: black;
      text-align: center;
      
  }
  .topnavbar input[type=text] {
    border-radius: 6px;
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  .topnavbar input[type=text] {
    border: none solid #ccc;
  }
  
  .topnavbar a.active {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    color: rgb(12, 12, 12);
  }
  