@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');
*{
  font-family: 'Luxurious Roman', serif;
}
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');
.banner-text{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 4.5rem;
  color: white;
  text-align: left;
  margin-left: 1rem;
  text-shadow: -9px 5px 8px black;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnavbar {
    overflow: hidden;
    background-color: #333;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    height: 3.38rem;
  }
  
  .topnavbar a {
    float: left;
    color: black;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnavbar a:hover {
    background-color:white;
    color: rgb(255, 255, 255);
    border-radius: 7px;
  }
  
.titlename{
  font-size: 25px;
}

.topnavbar a.split{
      float:right;
      color: black;
      text-align: center;
      
  }
  .topnavbar input[type=text] {
    border-radius: 6px;
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  .topnavbar input[type=text] {
    border: none solid #ccc;
  }
  
  .topnavbar a.active {
    background-image: linear-gradient(to right, #6a11cb 0%);
    color: rgb(12, 12, 12);
  }


  .topleft{
    width: 50%;
    height: 50vh;
  }

  .topright{
    width: 50%;
    height: 40vh;
  }

  /* .maintext{
    font-family: ;
  } */

.flex-justify{
  justify-content: center;
}
.flex-item{
  align-items: center;
}

.flex{
  display: flex;
}
.min-height{
  min-height: 20rem;
}

.background{
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  
}

.blur{
  filter: blur(4px);
}
