*{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

.wrapper{
    width: 23rem;
    height: 28rem;
    align-items: center;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    

    
}

.wrapper h1{
    font-size: 2.5rem;
    text-align: center;
    color: aliceblue;
    text-shadow: -9px 5px 8px black;
    margin: 2rem;

}



.bg{
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../../../public/images/1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




.inputbox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: 3rem 0;
    border: 1px solid white;
    padding: 0 1.5rem;
    border: 2px solid rgba(255, 255, 255, 2);
    border-radius: 40px;
    box-shadow:-8px 5px 8px rgba(0, 0, 0, 0.526) ;
    margin-left: 2rem;

} 

.inputbox input{
    width: 20rem;
    height: 2.5rem;
    background: transparent;
    border: none;
    outline: none;

}

.inputbox input::placeholder{
    color: aliceblue;
    font: size 30px; 
}

.logicon{
    color: aliceblue;
}

.loginbutton{
    height: 2.5rem;
    width: 30%;
    background: none;
    border: 2px solid white;
    border-radius: 16px;
    box-shadow: white;
    margin-left: 125px;
    margin-bottom: 25px;
    color: aliceblue;
    box-shadow:-8px 5px 8px rgba(0, 0, 0, 0.526) ;
}

/* .signup{
    color: white;
    font-size: 1rem;
} */

p{
    margin-left: 100px;
    color: white;
}

/* p:hover{
    text-decoration: underline;
} */

.signup-margin{
    margin-left: 0.5rem;
}