*{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

.wrapper{
    width: 23rem;
    background-color: blue;
    height: 25rem;
    align-items: center;
    border-radius: 20px;
    
}

.wrapper h1{
    font-size: 2.5rem;
    text-align: center;
    color: aliceblue;
    text-shadow: -9px 5px 8px black;
    margin: 1rem;

}

.body{
    height: 50rem;
    background-color: seagreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputbox{
justify-content:center;
align-items: center;
height: 100%;
width: 100%;
margin: 30px , 0;

} 

.inputbox input{
    width: 20rem;
    height: 2.5rem;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 2);
    border-radius: 40px;
    margin: 1.5rem;
    box-shadow:-8px 5px 8px rgba(0, 0, 0, 0.526) ;
}

.inputbox input::placeholder{
    color: aliceblue;
    font-size:large ;
    

}
.inputbox .icon{
    position:absolute;
    right: 610px;
    margin-top: 34px;
    color: white;
    font-size: 20px;
    box-shadow: -8px 5px 8px rgba(0, 0, 0, 0.526);
}
.loginbutton{
    height: 2.5rem;
    width: 30%;
    background: none;
    border: 2px solid white;
    border-radius: 16px;
    box-shadow: white;
    margin-top: 15px;
    margin-bottom: 25px;
    color: aliceblue;
    box-shadow:-8px 5px 8px rgba(0, 0, 0, 0.526) ;

}

.signup{
    color: aliceblue;
    font-size: 1rem;
}